body {
  font-family: Ubuntu, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* For Safari and Chrome */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none;
  color: #fff;
  overflow: auto;
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  color: #000;
  cursor: pointer;
}

.logo h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo h1 i {
  color: #0080ff;
  margin-right: 10px;
  animation: change 5s infinite;
}

.logo h1 p {
  color: #0080ff;
  font-size: 15px;
}

@keyframes change {
  0% {
    color: #0051a3;
  }
  50% {
    color: #0082f4;
  }
}

.form-up {
  float: right;
  padding: 20px;
}

.form-up .signin {
  color: #fff;
}

.form-up button {
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid #d7d7d73c;
  cursor: pointer;
  color: #0080ff;
  position: relative;
  top: -80px;
  right: 10px;
}

.form-up button:hover {
  background-color: #0080ff;
  color: #fff;
  transition: 0.5s ease-in-out;
}

/* Section Start */
.section-start {
  text-align: center;
  max-width: 90%;
  margin: 80px auto 20px auto;
  padding: 20px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #0e0e0e;
}

.section-start h1 {
  font-size: 40px;
  color: #0080ff;
}

.section-start .text {
  font-size: 50px;
  color: #fff;
}

.section-start .sub-text {
  font-size: 30px;
  color: #d1d1d1;
  margin-top: -35px;
}

.button-start button {
  margin-top: 30px;
  font-size: 30px;
  border-radius: 10px;
  max-width: 200px;
  background-color: #e5e5e5;
  border: none;
  color: #222;
  cursor: pointer;
  text-transform: capitalize;
  padding: 10px;
}

.button-start button:hover {
  background-color: #0080ff;
  color: #fff;
  transition: 0.5s ease;
}

/* Main Navigation */
.main-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  text-align: center;
  background-color: #00070efd;
  border-radius: 20px;
  padding: 5px;
  z-index: 1000;
}

.main-nav div {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.main-nav div a {
  text-decoration: none;
  font-size: 30px;
}

.main-nav div a:hover {
  background-color: #ffffff2d;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  font-size: 30px;
  transition: 1s ease-in-out;
}

.main-nav div:first-child {
  background-color: #ffffff2d;
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  font-size: 30px;
  cursor: none;
}

.main-nav div i {
  color: #fff;
}

/* Main Section */
.main-section {
  position: relative;
  top: 100px;
  background-color: #000;
  border: 1px solid #0270ff30;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 140px;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: #101010ca;
  border-radius: 10px;
  border: 0.5px solid #4949493f;
  padding: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card:hover {
  background-color: #4c4c4c79;
  box-shadow: rgba(0, 0, 0, 0.35);
  transition: 0.5s ease;
  font-size: 16.2px;
}

.card-logo i {
  color: #0091ff;
  padding: 5px;
  border: 1px solid #ff0088;
  border-radius: 10px;
}

.card-text {
  color: #fff;
  text-align: start;
}

.card-button button {
  border: 0.5px solid #9090903f;
  background-color: transparent;
  color: #e1e1e1;
  padding: 5px;
  font-size: 20px;
  text-transform: capitalize;
}

.card-time {
  color: #d2d2d2;
}

.card-img img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  left: -10px;
}

.card-react {
  color: #747474;
  text-align: center;
}

.card-react i {
  color: #555;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.card-react i:active {
  color: #0080ff;
}

.holding-items {
  margin-top: 50px;
}

.holding-items > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: #414141;
  font-size: 30px;
  text-transform: capitalize;
  padding: 20px;
}

.number p {
  font-size: 50px;
  margin-bottom: -10px;
  font-weight: bolder;
}

.icon i {
  font-size: 70px;
  color: #003c5a55;
}

/* Footer */
.main-footer {
  font-size: 25px;
  text-align: center;
  color: #4b4b4b;
  background-color: #48484824;
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socailmedia a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.socailmedia a:hover {
  color: #0080ff;
}

.text p a {
  color: #0080ff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-up {
    float: none;
    text-align: center;
    margin: 20px 0;
  }

  .logo {
    top: 10px;
    left: 10px;
    transform: none;
  }

  .section-start {
    width: auto;
    margin: 20px;
  }

  .section-start h1 {
    font-size: 25px;
  }

  .section-start .text {
    font-size: 30px;
  }

  .section-start .sub-text {
    font-size: 18px;
    margin-top: -20px;
  }

  .button-start button {
    font-size: 18px;
    max-width: 100%;
    padding: 8px;
  }

  .main-nav {
    width: 100%;
    padding: 15px;
  }

  .holding-items > div {
    grid-template-columns: 1fr;
  }

  .main-footer {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    top: 5px;
    left: 5px;
  }

  .card-img img {
    width: 100%;
  }

  .section-start {
    margin-top: 20px;
  }

  .main-section {
    margin: 10px;
    padding: 10px;
  }

  .main-footer {
    padding-bottom: 70px;
  }
  .form-up button {
    position: relative;
    top: -30px;
    right: -120px;
  }
}
