body {
  margin: 0;
  padding: 20px;
  font-family: Ubuntu, sans-serif;
  box-sizing: border-box;
  background-color: #000000;
}

.main-nav {
  position: fixed;
  bottom: 0; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  text-align: center;
  background-color: #00070efd;
  border-radius: 20px;
  padding: 5px;
  z-index: 1000;
}

.main-nav div {
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.main-nav div a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
}

.main-nav div a:hover {
  background-color: #ffffff2d;
  border-radius: 5px;
  padding: 15px;
  transition: 1s ease-in-out;
}

.main-nav div i#couursesss {
  background-color: #ffffff2d;
  border-radius: 5px;
  padding: 15px;
  font-size: 30px;
  transition: 1s ease-in-out;
}

.main-nav div i {
  color: #fff;
}

.container {
  background-color: #060606;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: auto;
  color: #fff;
  margin-bottom: 100px;
}

.header,
.courses-btns {
  padding: 20px;
}

.header p {
  font-size: 20px;
}

.courses-btns button {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #b3b3b3;
}

.courses-btns button.btn-threats {
  float: right;
  background-color: #353535dd;
}

.courses-btns button:hover,
.courses-btns button.btn-All-Courses {
  background-color: #0084fffd;
  color: #fff;
  border: none;
  transition: 0.5s ease-in-out;
}

.courses-hold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.course {
  border: 1px solid #cccccc96;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.subscribe-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subscribe-header div button {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.subscribe-header div button.subscribe {
  color: rgb(0, 255, 0);
  background-color: rgba(0, 128, 0, 0.071);
  border-radius: 5px;
  text-transform: capitalize;
}
.subscribe-header div button#subscribe {
  color: rgb(117, 117, 117);
  background-color: rgba(0, 128, 0, 0.071);
  border-radius: 5px;
  text-transform: capitalize;
}

.subscribe-heading {
  width: 90%;
  margin: auto;
  color: #f0f0f0;
}

.subscribe-heading .text {
  color: #ececec;
}

.subscribe-heading .text .btns button {
  background-color: #dcdcdc6d;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  text-transform: capitalize;
  color: #ebebeb;
  cursor: pointer;
}

.subscriptions {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.subscriptions .country img {
  width: 30px;
  height: 25px;
  margin-left: -10px;
  border-radius: 100px;
}

.subscriptions .people-subscription {
  margin-top: -20px;
  font-size: 20px;
  text-align: end;
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .courses-btns {
    display: grid;
    grid-template-columns: 1fr;
  }
  .courses-btns button {
    width: 100%;
    font-size: 20px;
    margin: 5px;
  }
  .container {
    padding-bottom: 100px;
  }
  .courses-hold {
    grid-template-columns: 1fr;
  }
  .subscriptions {
    grid-template-columns: 1fr;
  }
  .people-subscription p {
    text-align: start;
    position: relative;
    left: -10px;
  }
}

@media (max-width: 768px) {
  .courses-btns {
    display: grid;
    grid-template-columns: 1fr;
  }
  .courses-btns button {
    width: 100%;
    font-size: 20px;
    margin: 5px;
  }
  .container {
    padding-bottom: 100px;
  }
  .courses-hold {
    grid-template-columns: 1fr;
  }
  .subscriptions {
    grid-template-columns: 1fr;
  }
  .course {
    width: 100%;
    position: relative;
    text-align: start;

    left: -40px;
  }
}
