<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Css Design/Home.page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="logo">
      <h1>
        <a href=""><i class="fa-solid fa-computer-mouse"></i></a>
        <p>idempotent</p>
      </h1>
    </div>
    <div class="form-up">
      <a href="./Login/login.html"> <button class="signin">Sign In</button></a>
    </div>

    <div class="section-start">
      <div class="start-now">
        <div class="text">
          <p>Web Development Courses For Everyone</p>
          <div class="sub-text">
            Practical project-based courses that are easy to understand and
            straight to the point with NO FLUFF
          </div>
        </div>

        <div class="button-start">
          <a href="./Register/register.html">
            <button>Join Now</button>
          </a>
        </div>
        <div class="holding-items">
          <div class="items-holder">
            <div class="course">
              <div class="icon">
                <i class="fa-solid fa-graduation-cap"></i>
                <div class="number">
                  <p>10+</p>
                </div>
              </div>
              Courses
            </div>
            <div class="Hours">
              <div class="icon">
                <i class="fa-solid fa-clock"></i>
                <div class="number">
                  <p>250+</p>
                </div>
              </div>
              hours of content
            </div>
            <div class="students">
              <div class="icon">
                <i class="fa-solid fa-users"></i>
                <div class="number">
                  <p>100k+</p>
                </div>
              </div>

              course students
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-nav">
      <div class="item">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="item">
        <a href="Docs.html" class="linking"
          ><i class="fa-regular fa-file"></i
        ></a>
      </div>
      <div class="item">
        <a href="Courses.html" class="linking"
          ><i class="fa-solid fa-graduation-cap"></i
        ></a>
      </div>

      <div class="item">
        <a href="Chats.html" class="linking"
          ><i class="fa-brands fa-rocketchat"></i
        ></a>
      </div>
    </div>

    <section class="main-section">
      <h2 class="header"><strong>latest</strong> Courses</h2>
      <div class="card-items">
        <a href="./learn/js.html" id="link-page">
          <div class="card">
            <div class="card-logo">
              <i class="fa-solid fa-globe"></i>
            </div>
            <div class="card-text">
              <h2>Learn Javascript fundament</h2>
            </div>
            <div class="card-button">
              <button>javascript</button>
            </div>
            <div class="card-time">Jul 23 4m read time</div>
            <div class="card-img">
              <img src="./images/javascript.png" alt="image" />
            </div>
            <div class="card-react">
              43M<i class="fa-solid fa-thumbs-up"></i> 30<i
                class="fa-solid fa-thumbs-down"
              ></i>
              1k<i class="fa-solid fa-share"></i>
            </div>
          </div>
        </a>
        <div class="card">
          <div class="card-logo">
            <i class="fa-solid fa-globe"></i>
          </div>
          <div class="card-text">
            <h2>Live Lorem, ipsum dolor.</h2>
          </div>
          <div class="card-button">
            <button>HTML / CSS</button>
          </div>
          <div class="card-time">Jul 23 4m read time</div>
          <div class="card-img">
            <img src="./images/htmlandcss.png" alt="image" />
          </div>
          <div class="card-react">
            3M<i class="fa-solid fa-thumbs-up"></i> 0<i
              class="fa-solid fa-thumbs-down"
            ></i>
            12k<i class="fa-solid fa-share"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-logo">
            <i class="fa-solid fa-globe"></i>
          </div>
          <div class="card-text">
            <h2>Live Lorem, ipsum dolor.</h2>
          </div>
          <div class="card-button">
            <button>C / C++</button>
          </div>
          <div class="card-time">Jul 23 4m read time</div>
          <div class="card-img">
            <img src="https://picsum.photos/200/300" alt="image" />
          </div>
          <div class="card-react">
            23M<i class="fa-solid fa-thumbs-up"></i> 0<i
              class="fa-solid fa-thumbs-down"
            ></i>
            13k<i class="fa-solid fa-share"></i>
          </div>
        </div>
        <div class="card">
          <div class="card-logo">
            <i class="fa-solid fa-globe"></i>
          </div>
          <div class="card-text">
            <h2>Live Lorem, ipsum dolor.</h2>
          </div>
          <div class="card-button">
            <button>python</button>
          </div>
          <div class="card-time">Jul 23 4m read time</div>
          <div class="card-img">
            <img src="./images/python.webp" alt="image" />
          </div>
          <div class="card-react">
            43M<i class="fa-solid fa-thumbs-up"></i> 30<i
              class="fa-solid fa-thumbs-down"
            ></i>
            1k<i class="fa-solid fa-share"></i>
          </div>
        </div>
      </div>

      <footer class="main-footer">
        <div class="text">
          <p>
            © 2024 <a href="./Home.html">Idempotent.</a> All Rights Reserved
          </p>
        </div>
        <div class="socailmedia">
          <a href="#" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
      </footer>
    </section>
  </body>
</html>
