<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>idempotent | Live</title>
    <link rel="stylesheet" href="./Css Design/live.css" />
  </head>
  <body>
    <div class="container">
      <div class="JoinUs">
        <div class="header-Member">Notificaton</div>
      </div>
      <div class="choise">
        <div class="Members">Members</div>
        <div class="notify">Notify</div>
        <div class="new-feature">Updates</div>
      </div>
      <div class="new-updates">
        <div class="now">
          <div class="today">today <button>5</button></div>
        </div>
      </div>
      <div class="profile">
        <div class="profile-pic">
          <img src="./images/savio.jpeg" alt="" />
        </div>
        <div class="profileName">
          <div>
            <p>
              <i class="fa-solid fa-circle-dot"></i> <strong>Savio</strong> Full
              Stack Developer
            </p>
          </div>
          <div class="time">
            <p>2 hours ago</p>
          </div>
          <div class="btns">
            <button class="ignore">ignore</button>
            <button class="join">Join me</button>
          </div>
        </div>
      </div>
      <div class="profile">
        <div class="profile-pic">
          <img src="./images/len.jpg" alt="" />
        </div>
        <div class="profileName">
          <div>
            <p>
              <i class="fa-solid fa-circle-dot"></i>
              <strong>Len</strong> Full Stack Developer
            </p>
          </div>
          <div class="time">
            <p>1 hours ago</p>
          </div>
          <div class="btns">
            <button>ignore</button>
            <button class="join">Join me</button>
          </div>
        </div>
      </div>
    </div>

    <script src="./Js Interaction Design /live.js"></script>
  </body>
</html>
