<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css Design/learn.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <title>idempotent | Learn</title>
  </head>
  <body>
    <div class="container">
      <div class="slide-items">
        <div class="slide slide-left">
          <div class="items">
            <h2>Go introduction</h2>
            <div class="item">
              <div class="item-content">
                <div class="content">
                  <button class="dropbtn">
                    Learn Go <i class="fa-solid fa-caret-down"></i>
                  </button>
                </div>
                <div class="list-down">
                  <ul>
                    <li class="item">
                      <a href="#intro">
                        <i class="fa-solid fa-feather-pointed"></i> Go intro
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Variables
                        <i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>

                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Function
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>

                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Constants
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>

                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Arrays
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go slices
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Data
                        types <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go Loops
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go
                        Conditions
                        <i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Go struct
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slide slide-right">
          <div class="learn-js" id="intro">
            <div class="header">
              <h2>Go introduction</h2>
            </div>
            <div class="content-js">
              <div class="sub-head">
                <h3>What is Go?</h3>
                <div class="sub-text">
                  Go is a cross-platform, open source programming language
                  <br />
                  Go can be used to create high-performance applications <br />
                  Go is a fast, statically typed, compiled language known for
                  its simplicity and efficiency <br />
                  Go was developed at Google by Robert Griesemer, Rob Pike, and
                  Ken Thompson in 2007 <br />
                  Go's syntax is similar to C++ <br />
                </div>
                <h3>What is Go Used For?</h3>
                <div class="sub-text">
                  Web development (server-side) <br />
                  Developing network-based programs <br />
                  Developing cross-platform enterprise applications <br />
                  Cloud-native development <br />
                  <br /><br />
                  <h3>Go Compared to Python and C++</h3>
                  <br />
                  <table>
                    <tr>
                      <th>Go</th>
                      <th>Python</th>
                      <th>C++</th>
                    </tr>
                    <tr>
                      <td>Statically typed</td>
                      <td>Dynamically typed</td>
                      <td>Statically typed</td>
                    </tr>
                    <tr>
                      <td>Fast run time</td>
                      <td>Slow run time</td>
                      <td>Fast run time</td>
                    </tr>
                    <tr>
                      <td>Compiled</td>
                      <td>Interpreted</td>
                      <td>Compiled</td>
                    </tr>
                    <tr>
                      <td>Fast compile time</td>
                      <td>Interpreted</td>
                      <td>Slow compile time</td>
                    </tr>
                    <tr>
                      <td>
                        Supports concurrency through goroutines and channel
                      </td>
                      <td>No built-in concurrency mechanism</td>
                      <td>Supports concurrency through threads</td>
                    </tr>
                    <tr>
                      <td>Has automatic garbage collection</td>
                      <td>Has automatic garbage collection</td>
                      <td>Does not have automatic garbage collection</td>
                    </tr>
                    <tr>
                      <td>Does not support classes and objects</td>
                      <td>Has classes and objects</td>
                      <td>Has classes and objects</td>
                    </tr>
                    <tr>
                      <td>Does not support inheritance</td>
                      <td>Supports inheritance</td>
                      <td>Supports inheritance</td>
                    </tr>
                  </table>
                </div>

                <div class="hint">
                  <div class="sub-head"><strong>Notes:</strong> <br /></div>
                  <div class="sub-text">
                    Compilation time refers to translating the code into an
                    executable program Concurrency is performing multiple things
                    out-of-order, or at the same time, without affecting the
                    final outcome Statically typed means that the variable types
                    are known at compile time
                  </div>
                </div>
                <br />
                <a href="../Login/login.html" style="color: aqua">
                  read more after login</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../Js Interaction Design /js.js"></script>
    <script src="../Js Interaction Design /go.js"></script>
  </body>
</html>
