<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css Design/learn.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <title>idempotent | Learn</title>
  </head>
  <body>
    <div class="container">
      <div class="slide-items">
        <div class="slide slide-left">
          <div class="items">
            <h2>Javascript intro</h2>
            <div class="item">
              <div class="item-content">
                <div class="content">
                  <button class="dropbtn">
                    Learn Javascript <i class="fa-solid fa-caret-down"></i>
                  </button>
                </div>
                <div class="list-down">
                  <ul>
                    <li class="item">
                      <a href="#intro">
                        <i class="fa-solid fa-feather-pointed"></i> Javascript
                        intro <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Variables,
                        let and const <i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i>operators and
                        Data types <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Function
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Object
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Events
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Strings,
                        numbers and bigInt
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i>Arrays
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Dates
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Math,
                        Random, Booleans <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Comparisons
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> if Else,
                        Switch, and loop while
                        <i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> loop for[
                        of, in ] <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="items">
            <h2>Javascript modules management</h2>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> ES6 Modules (ECMAScript
                2015)
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> CommonJS Modules
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> AMD (Asynchronous Module
                Definition)
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> UMD (Universal Module
                Definition)
              </div>
            </div>
          </div>
          <div class="items items-plus">
            <h2>Javascript Concept</h2>

            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Code Organization
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Encapsulation
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Dependency Management
              </div>
            </div>
          </div>
        </div>
        <div class="slide slide-right">
          <div class="learn-js" id="intro">
            <div class="header">
              <h2>JavaScript introduction</h2>
            </div>
            <div class="content-js">
              <div class="sub-head">
                <h3>What is JavaScript?</h3>
                <div class="sub-text">
                  JavaScript is a high-level, dynamic, and interpreted
                  programming
                </div>
                <h3>JavaScript Programs</h3>
                <div class="sub-text">
                  A computer program is a list of "instructions" to be
                  "executed" by a computer. In a programming language, these
                  programming instructions are called statements. A JavaScript
                  program is a list of programming statements.
                  <br /><br />
                  <div class="command">
                    <div class="dots">
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="command-text">example</div>
                    <div class="example"></div>
                  </div>
                </div>

                <div class="hint">
                  <div class="sub-head">
                    <h3>Did You Know?</h3>
                  </div>
                  <div class="sub-text">
                    JavaScript and Java are completely different languages, both
                    in concept and design. JavaScript was invented by Brendan
                    Eich in 1995, and became an ECMA standard in 1997. ECMA-262
                    is the official name of the standard. ECMAScript is the
                    official name of the language.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../Js Interaction Design /js.js"></script>
  </body>
</html>
