<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css Design/learn.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />

    <title>idempotent | Learn</title>
  </head>
  <body>
    <div class="container">
      <div class="slide-items">
        <div class="slide slide-left">
          <div class="items">
            <h2>Python introduction</h2>
            <div class="item">
              <div class="item-content">
                <div class="content">
                  <button class="dropbtn">
                    Learn Python <i class="fa-solid fa-caret-down"></i>
                  </button>
                </div>
                <div class="list-down">
                  <ul>
                    <li class="item">
                      <a href="#intro">
                        <i class="fa-solid fa-feather-pointed"></i> What is
                        Python? <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Variables<i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i>Python Data
                        Types <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Operators <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python Lists
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i>Python Tuples
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>

                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i>Python Sets
                        <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Dictionaries <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python If
                        ... Else and While Loops
                        <i class="fa-solid fa-caret-right"></i>
                      </a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python For
                        Loops <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Functions <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Lambda <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="#">
                        <i class="fa-solid fa-feather-pointed"></i> Python
                        Arrays <i class="fa-solid fa-caret-right"></i
                      ></a>
                    </li>
                    <li class="item">
                      <a href="../Login/login.html" style="color: aqua"
                        >read more after Login</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="items">
            <h2>Python modules management</h2>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Virtual Environments
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Dependency Management
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Package Distribution
              </div>
            </div>
            <div class="item">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Package Management Best
                Practices
              </div>
            </div>
          </div>
          <div class="items items-plus">
            <h2>Python Concepts</h2>

            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Basic Syntax and Data
                Types
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Control Flow
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Functions
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Object-Oriented
                Programming (OOP)
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Modules and Packages
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Exception Handling
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> File I/O
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Decorators
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Context Managers
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Generators and Iterators
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Comprehensions
              </div>
            </div>
            <div class="item item-plus">
              <div class="item-icon text">
                <i class="fa-regular fa-lightbulb"></i> Concurrency and
                Parallelism
              </div>
            </div>
          </div>
        </div>
        <div class="slide slide-right">
          <div class="learn-js" id="intro">
            <div class="header">
              <h2>Python introduction</h2>
            </div>
            <div class="content-js">
              <div class="sub-head">
                <h3>What is Python?</h3>
                <div class="sub-text">
                  Python is a popular programming language. It was created by
                  Guido van Rossum, and released in 1991.
                </div>
                <h3>What can Python do?</h3>

                <div class="sub-text">
                  <br />
                  Python can be used on a server to create web applications.
                  <br />
                  <br />
                  Python can be used alongside software to create workflows.
                  <br />
                  <br />
                  Python can connect to database systems. It can also read and
                  modify files. Python can be used to handle big data and
                  perform complex mathematics. Python can be used for rapid
                  prototyping, or for production-ready software development.
                  <br /><br />

                  <h3>Python Syntax compared to other programming languages</h3>
                  <br />

                  Python Syntax compared to other programming languages <br />
                  <br />
                  Python was designed for readability, and has some similarities
                  to the English language with influence from mathematics.
                  <br />
                  <br />
                  Python uses new lines to complete a command, as opposed to
                  other programming languages which often use semicolons or
                  parentheses. <br />
                  <br />
                  Python relies on indentation, using whitespace, to define
                  scope; such as the scope of loops, functions and classes.
                  Other programming languages often use curly-brackets for this
                  purpose. <br />
                  <br />

                  <div class="command">
                    <div class="dots">
                      <i class="fa-regular fa-copy" style="cursor: pointer"></i>
                    </div>
                    <div class="command-text">example</div>
                    <div class="example4"></div>
                  </div>
                </div>

                <div class="hint">
                  <div class="sub-head">
                    <h3>Did You Know?</h3>
                  </div>
                  <div class="sub-text">
                    Python is known for its readability and simplicity. Unlike
                    many other programming languages, it uses indentation
                    (whitespace) to define blocks of code instead of
                    curly-brackets or semicolons. This makes Python code often
                    look clean and easy to understand.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../Js Interaction Design /js.js"></script>
    <script src="../Js Interaction Design /python.js"></script>
  </body>
</html>
